/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, sans-serif;
}

body {
  min-height: 200vh;
  background-color: #ffffff;

  /*background-image: url("images.jpg");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* DOT GRID (Nothing-style) */
.dot-grid {
  position: fixed;
  inset: 0;
  background-image: radial-gradient(#5e5e5e22 1px, transparent 1px);
  background-size: 24px 24px;
  pointer-events: none;
  z-index: 0;
}

/* GLASS RECTANGLE */
#glass-card {
  position: fixed;

  /* Equal distance from all sides */
  top: clamp(32px, 4vw, 64px);
  left: clamp(32px, 4vw, 64px);
  right: clamp(32px, 4vw, 64px);
  bottom: clamp(32px, 4vw, 64px);

  border-radius: 28px;

  background: rgba(226, 196, 196, 0.08);
  backdrop-filter: blur(18px);
  opacity:50%;
  -webkit-backdrop-filter: blur(18px) saturate(140%);
  border: 1px solid rgba(255, 255, 255, 0.22);


  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 20px 60px rgba(0,0,0,0.4);

  display: flex;
  align-items: center;
  justify-content: center;

  transition:
    top 1.2s cubic-bezier(0.22, 1, 0.36, 1),
    left 1.2s cubic-bezier(0.22, 1, 0.36, 1),
    right 1.2s cubic-bezier(0.22, 1, 0.36, 1),
    bottom 1.2s cubic-bezier(0.22, 1, 0.36, 1),
    border-radius 1.2s cubic-bezier(0.22, 1, 0.36, 1);

  will-change: top, left, right, bottom;
  z-index: 2;
}


/* LOGO TEXT */
.logo {
  /*font-family: "Helvetica", "Inter", system-ui, sans-serif;
  font-size: clamp(1rem, 2vw, 5.7rem);
  font-weight: 500;
  letter-spacing: 0.35em;
  color: rgba(255, 255, 255, 0.92); */

   font-family: "Doto", sans-serif;
  
  font-size: clamp(1rem, 2vw, 5.7rem);
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "ROND" 100;
}


/* HEADER STATE */
#glass-card.header {
  top: 16px;
  left: clamp(24px, 5vw, 64px);
  right: clamp(24px, 5vw, 64px);
  bottom: calc(100% - 80px);

  border-radius: 20px;
}

/* SCROLL SPACER */
.spacer {
  height: 200vh;
}

/* GRAIN OVERLAY */
#glass-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.15;
  pointer-events: none;
  border-radius: inherit;
}
@media (max-aspect-ratio: 4/3) {
  body {
    background-position: center top;
  }
}

@media (min-aspect-ratio: 16/9) {
  body {
    background-position: center center;
  }
}